@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

dfn{
	font-style: italic;
}

abbr.era{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}

time{
	font-style: italic;
}

footer{
	text-align: right;
	margin-top: 1em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="epigraph"] p{
	margin-top: 4em;
	text-align: center;
}

.signature{
	font-variant: small-caps;
	text-align: right;
}

.dateline{
	text-align: center;
	text-indent: 0;
	margin-bottom: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:diary-entry"] + [epub|type~="z3998:diary-entry"]::before{
	border-top: 1px solid;
	content: '';
	display: block;
	height: 0;
	margin: 1.5em auto;
	width: 25%;
}

[epub|type~="z3998:persona"]{
	font-style: italic;
}
